body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.card{
  width: 45%;
}

.left{
  float: left;
}

.right{
  float: right;
}

.tile-image{
  width: 200px;
  float: left;
  margin-right: 50px;
}

.h1-span{
  color: midnightblue;
}

@media (max-width: 680px){
  .logo{
    width: 100px;
  }

  h1{
    font-size: 3rem;
    text-align: center;
  }

  .card{
    display: block;
    width: 100%;
    text-align: center;
  }

  .tile-image{
    display: inline;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }
}